.body{
    margin: 0;
    padding: 0;
}

.logo {
    height: 75px;
    width: 90px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
}

.list {
    display: flex;
    list-style: none;
}

.item:not(:last-child) {
    margin-right: 20px;
}

@media screen and (max-width: 560px) {
    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .list {
        flex-direction: column;
        padding: 0;
    }
    .item{
        margin: 0 !important;
    }
}
.center{
    text-align: center;
}